# ==============================
# Visual Studio
# ==============================

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates


# ==============================
# Build results
# ==============================

bin/
obj/


# ==============================
# Debug / Release folders
# ==============================

Debug/
Release/
x64/
x86/


# ==============================
# NuGet
# ==============================

packages/
*.nupkg


# ==============================
# Operating system files
# ==============================

.DS_Store
Thumbs.db


# ==============================
# Logs
# ==============================

*.log